<% idx = 0 %>
<div id="directors">
  <%= f.fields_for :directors do |director_form| %>
    <% idx = idx + 1 %>
    <%= render :partial => 'director', :locals => {:director_form => director_form, :idx => idx } %>
  <% end %>
</div>

<p><%= f.link_to_add "more directors >>", :directors, :class => 'directors' %></p>
