<% index = 0 %>
<div id="directors">
  <%= f.fields_for :directors do |director_form| %>
    <% index = index + 1 %>
    <%= render :partial => 'director', :locals => { :f => f, :director_form => director_form, :index => index } %>
  <% end %>
</div>

<p><%= f.link_to_add "more directors >>", :directors, :class => 'directors' %></p>
